*{
    margin: 0;
}
                      /** Section 1 **/
.sec1{
    background-color: antiquewhite;
    background-image:
    linear-gradient(to bottom, rgba(16, 16, 16, 0.162), rgba(7, 7, 7, 0.315)),
    url('../images/Bakerybg.jpg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}
.nav{
    overflow: hidden;
}
.nav img{
    float: left;
    width: 180px;
    padding-left :150px;
    padding-top: 20px;

}

.nav ul{
    padding-left: 870px;
}
.nav li{
    list-style: none;
    float: left;
    font-size: 18px;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    padding-top: 35px;
    padding-left: 30px;
    
}
.homeline{
    border-top: #8e7754 3px solid;
    margin-left: -5px; ;
}
.nav li a{
    text-decoration: none;
    color: #f8f8f8;

}

.sec1 .min{
    text-align: center;
    padding-top: 200px;
    color: aliceblue;
}

.sec1 .min span{
    line-height: 300%;
}
.sec1 .min h1{
    font-family: 'Alegreya', serif;
    font-size: 75px;
    font-weight: 400;
    margin-top: -18px;
}
.sec1 .min .headtext{
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: -15px;
    font-family: "Alegreya Sans";
    
}
.sec1 .min .footertext{
    font-size: 24px;
    padding-top: 20px;
    font-family:"Alegreya Sans";
    margin-bottom: 15px;
}

.btn1{
    background-color: #8e7754;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 15px 28px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
}
a{
    text-decoration: none;
    color: #fff;
}
.btn2:hover{
    background-color: #f1f1f1;
    color: black;
} 
.btn1:hover{
    background-color: #f1f1f1;
    color: black;
} 
.btn2{
    border: 2px solid #f1f1f1;
    padding: 15px 28px;
    border-radius: 5px;
    color: #f1f1f1;
    background-color: transparent;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
    margin-left: 5px;
    font-size: 17px;
}

                     /** Section 2 **/
.sec2 .prf{
    display: inline-block;
    width: 49%;
}
.prf img{
    width:80%;
    margin: 100px 70px 70px 150px;
}
.titsec2 {
    display: inline-block;
    width: 49%;
    vertical-align: 150px;
    padding-left: 20px;
}
.titsec2 h2{
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 32px;
    padding-bottom: 35px; 
    padding-left: 35px;
}
.titsec2 .bdytext{
    padding-bottom: 260px;
    font-size: 17px;
    color: 686868;
    line-height:  181%;
    padding-left: 35px;
    font-family: 'Alegreya Sans', sans-serif;
    
}
.titsec2 ul{
    width: 50%;
    list-style: none;
    margin-top: -220px;

}
.abt:hover{
    color: #8e7754;
}
.orof:hover{
    color: #8e7754;
}
.gal:hover{
    color: #8e7754;
}
.blg:hover{
    color: #8e7754;
}
.cot:hover{
    color: #8e7754;
}
.titsec2 ul img{
    width: 40px;
    vertical-align: -13px ;
    border-radius: 50%;
    border: #686868 solid 0.5px;
}
.titsec2 ul li p{
    display: inline;
    color: 686868;
    padding: 0px 10px;
    font-size: 17px;
    line-height: 200%;
    font-family: 'Alegreya Sans', sans-serif;
}
.l1,.l2,.l3,.l4{
    padding: 10px 0px;
}
                  /** Section 3 **/
.sec3{
    background-color: #f8f8f8;
}
.text , .ph {
    display: inline-block;
}
.sec3 .ph{
    width: 49%;
}
.sec3 .text{
    width: 37%;
}
.sec3 .ph img{
    padding: 50px;
    width: 80%;
    margin-top: 20px;
}
.sec3 .text{
    vertical-align: 160px;
    margin: 100px 50px 100px 0px;
    margin-left:  150px;
    line-height: 181%;
}
.text h2{
    font-weight: 400;
    font-size: 32px;
    font-family: 'Alegreya', serif;
    padding-bottom: 20px;
}
.text p{
    line-height: 200%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 17px;
    color: 686868;
}
                  /** Section 4 **/ 
.sec4{
    background-color: white;
    overflow: hidden;
    padding-top: 60px;
}
.ph1,.ph2,.ph3{
  float: left;
  width:33.3%;
  text-align: center;
  margin:40px 0px;
}
.sec4 img{
    width: 80%;
}
.sec4title{
    text-align: center;
}
.sec4 h2{
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 32px;
}
.sec4title p{
    padding: 40px 0px 20px 0px;
    font-size: 17px;
    color: 686868;
}
.sec4 h3{
    font-family: 'Alegreya', serif;
    line-height: 181%;
    color:#303030;
    padding : 20px 0px;
    font-weight:500;
    font-size: 22px;
}
.ph1 p{
    color: 686868;
    line-height: 181%;
    font-size: 17px;
}
.ph2 p{
    color: 686868;
    font-size: 17px;
    line-height: 181%;
}
.ph3 p{
    color: 686868;
    font-size: 17px;
    line-height: 181%;
}
.ph2{
    margin-left: -60px;
    margin-right: -60px;
}
.ph1{
    padding-left:60px ;
}
.ph3{
    padding-right: 60px;
}
                  /** Section 5 **/ 
.sec5{
    overflow: hidden;
    background-color: #f8f8f8;

}
.sec5tex{
    float: left;
    width: 50%;
    text-align: left;
    margin-top: 100px;
}
.fram{
    float: left;
    margin-top: 100px;
    text-align: center;
    height: 550px;
    width: 50%;
    margin-left: -50px;
}
.sec5tex h2{
    padding: 0px 0px 40px 130px;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 32px;
}
.sec5tex .texbdy{
    line-height: 181%;
    padding: 0px 0px 10px 130px;
    color: 686868;
    font-size: 17px;

}
.sec5tex  span{
    margin-top: 100px;
    line-height: 181%;
    padding: 0px 0px 0px 130px;
    color: 686868;
    font-size: 17px;
}
.sec5tex ul li img{
    width: 35px;
    border-radius: 50%;
    background: #8e7754;
    border: #8e7754 solid px;
    margin: 10px 0px;
}
.sec5tex ul {
    list-style: none;
    padding: 0px 0px 0px 130px;
}
.sec5tex ul li p{
    margin-top: -38px;
    margin-left: 45px;
    font-size: 17px;
    color: 686868;
}
.mp ,.phonic ,.hedpho ,.emil{
    margin: 20px 0px;
}
                  /** Section 6 **/ 
.sec6{
    background-color: #403d38;
    overflow: hidden;
    color:  #969696;
    padding-top: 40px;
    font-family: 'Alegreya', serif;
    padding-bottom: 40px;
}
.sec6 ul{
    list-style: none;
}
.sec6 h4{
    color: #f1f1f1;
    font-family: 'Alegreya', serif;
}
.sec6 h5{
    font-weight: 300;
}
.data1 ,.data2 ,.data3 ,.data4 {
    float: left;
}
.data1{
    line-height: 181%;
    width: 25%;
    padding-left: 130px;
    margin-right: -40px;
}
.data1 h4{
    font-family: 'Alegreya', serif;
    padding-bottom: 10px;
    color: #f1f1f1;
}
.data1 h5{
    font-size: 16px;
    font-weight: 200;
}

.data2{
    width: 25%;
    line-height: 181%;
    margin-right: -60px;
}
.data2 h4{
    margin-left: 45px;
}
.data2 h5 {
    font-size: 16px;
    font-weight: 200;
}
.tex1 ,.tex2 ,.tex3 ,.tex4 ,.tex5 {
    display: block;
    padding-top: 12px;
    margin-right: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    
}
.tex2 ,.tex3 ,.tex4 ,.tex5 {
    padding-bottom: 6px;
}
.data1  img{
    width: 20px;
}
.data2  img{
    width: 20px;
}
.data3  img{
    width: 20px;
}
.data4 span  img{
    width: 30px;
}
.sec6  .data2 h5{
    margin-top: -24px;
    margin-left: 20px;
}
.data3 h4{
    font-family: 'Alegreya', serif;
    margin-bottom: 20px;
    margin-left: 44px;
}

.data3{
    margin-left: 10px;
    padding-right: 40px;
}
.monday  h5{
    margin-top: -20px;
    margin-left: 20px; 
    padding-bottom: 6px;
}

.Tuseday h5{
    margin-top: -20px;
    margin-left: 20px; 
}
.Tuseday{
    padding: 12px 0px 13px 0px;
}
.Wednesday h5{
    margin-left: 20px; 
    margin-top: -18px;
}
.Wednesday {
    padding: 12px 0px 10px 0px;
}

.Thursday h5{
    margin-top: -18px;
    margin-left: 20px;
}
.Thursday {
    padding: 12px 0px 8px 0px;
}
.Friday h5{
    margin-top: -18px;
    margin-left: 20px;
}
.Friday {
    padding: 12px 0px 13px 0px;
 }
.Weekends h5{
    margin-top: -18px;
    margin-left: 20px;
}
.Weekends {
    padding: 12px 0px 13px 0px;
}
.monday ,.Tuseday ,.Wednesday ,.Thursday ,.Friday  {
    border-bottom: 1px solid rgba(255,255,255,0.05);
    display: block;
    padding-right: 80px;
}
.bg4{
    width: 80%;
    margin-top: 40px;
    opacity: 0.2;
      
}
.detail4{
    margin-top: -140px;
}
.data4 .location h5{
    margin-left: 40px;
    line-height: 181%;
    margin-top: -30px;
}
.data4 .location img{
    margin-top: -15px;
    width: 30px;
}
.location {
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
.data4 .phone h5{
    margin-left: 40px;
    margin-top: -33px;
}
.data4 .phone img{
    margin: 10px 0px;
    width: 30px;
}
.phone {
    border-bottom: 1px solid rgba(255,255,255,0.05);
    padding-bottom: 10px;
}
.data4 .email h5{
    margin-left: 40px;
    margin-top: -33px;
}
.data4 .email img{
    width: 30px;
    margin: 10px 0px;

}
.email{
    border-bottom: 1px solid rgba(255,255,255,0.05);
    padding-bottom: 19px;
}
.data4 .earth h5{
    margin-left: 40px;
    margin-top: -33px;
}
.data4 .earth img{
    width: 30px;
    margin: 10px 0px;
}
                 /**section 7**/
.sec7{
    background-color: #353330;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;

}
.sec7 p{
    padding: 20px 0px;
    color:  #969696;
    font-size: 13px;
}
.images img{
    width: 40px;
    padding: 0px 0px;
    border: #8e7754 0px solid;
    border-radius: 50%;
    background-color: #484540;
}